@{
    ViewData["Title"] = "Poklananje knjige!";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Naziv knjige</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Pisac</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Zanr</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Kratki opis</label>
        <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Kolicina</label>
        <input type="number" class="form-control" id="inputAddress2">
    </div>
    <button type="submit" class="btn btn-primary">Potvrdi</button>
</form>