@model IEnumerable<Biblioteka.Models.ListSort>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("ActionPostData", "Knjige", FormMethod.Post))
{
    <select id="Segmentation" name="Segmentation">
        @foreach (var item in Model)
        {
            <option value="@item">@item.kriterij</option>
        }
    </select>
    <input type="submit" value="Send" />
}
